<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Midax.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Midax.Properties.Settings>
            <setting name="PORT_INPUT" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="APP_NAME" serializeAs="String">
                <value>Midax</value>
            </setting>
            <setting name="API_KEY" serializeAs="String">
                <value>8d341413c2eae2c35bb5b47a594ef08ae18cb3b7</value>
            </setting>
            <setting name="USER_NAME" serializeAs="String">
                <value>ksbitlsoftdemo</value>
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value>Kotik0483</value>
            </setting>
            <setting name="INDEX" serializeAs="String">
                <value>DAX:IX.D.DAX.DAILY.IP</value>
            </setting>
            <setting name="FUTURE" serializeAs="String">
                <value />
            </setting>
            <setting name="STOCKS" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Adidas AG:ED.D.ADSGY.DAILY.IP</string>
                        <string>Allianz SE:ED.D.ALVGY.DAILY.IP</string>
                        <string>BASF SE:ED.D.BAS.DAILY.IP</string>
                        <string>Bayer AG:ED.D.BAY.DAILY.IP</string>
                        <string>Bayerische Motoren Werke AG:ED.D.BMW.DAILY.IP</string>
                        <string>Beiersdorf AG:ED.D.BEI.DAILY.IP</string>
                        <string>Commerzbank AG:ED.D.CBK.DAILY.IP</string>
                        <string>Continental AG:ED.D.CON.DAILY.IP</string>
                        <string>Daimler AG:ED.D.DCX.DAILY.IP</string>
                        <string>Deutsche Bank AG:ED.D.DBK.DAILY.IP</string>
                        <string>Deutsche Boerse AG:ED.D.DB1.DAILY.IP</string>
                        <string>Deutsche Lufthansa AG:ED.D.LHAG.DAILY.IP</string>
                        <string>Deutsche Post AG:ED.D.DPW.DAILY.IP</string>
                        <string>Deutsche Telekom AG:ED.D.DTE.DAILY.IP</string>
                        <string>E.ON SE:ED.D.EOA.DAILY.IP</string>
                        <string>Fresenius Medical Care AG:ED.D.FME.DAILY.IP</string>
                        <string>HeidelbergCement AG:ED.D.HEI.DAILY.IP</string>
                        <string>Henkel AG:ED.D.HENGY.DAILY.IP</string>
                        <string>Infineon Technologies AG:ED.D.IFX.DAILY.IP</string>
                        <string>K+S AG:ED.D.SDF.DAILY.IP</string>
                        <string>LANXESS AG:ED.D.LXS.DAILY.IP</string>
                        <string>Linde AG:ED.D.LING.DAILY.IP</string>
                        <string>Merck KGaA:ED.D.MRCG.DAILY.IP</string>
                        <string>Muenchener Rueckversicherungs AG:ED.D.MUV2.DAILY.IP</string>
                        <string>RWE AG:ED.D.RWEG.DAILY.IP</string>
                        <string>SAP AG:ED.D.SAPG.DAILY.IP</string>
                        <string>Siemens AG:ED.D.SIEGn.DAILY.IP</string>
                        <string>ThyssenKrupp AG:ED.D.TKAG.DAILY.IP</string>
                        <string>Volkswagen AG:ED.D.VOW.DAILY.IP</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MODEL" serializeAs="String">
                <value>MIDAX</value>
            </setting>
            <setting name="STOP_LOSS" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="STOP_GAIN" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="LIMIT" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="PUBLISHING_START_TIME" serializeAs="String">
                <value>06:00:00</value>
            </setting>
            <setting name="TRADING_START_TIME" serializeAs="String">
                <value>08:00:00</value>
            </setting>
            <setting name="TRADING_STOP_TIME" serializeAs="String">
                <value>17:00:00</value>
            </setting>
            <setting name="MINIMUM_BET" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PUBLISHING_DISABLED" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TRADING_MODE" serializeAs="String">
                <value>PRODUCTION</value>
            </setting>
            <setting name="PUBLISHING_STOP_TIME" serializeAs="String">
                <value>18:00:00</value>
            </setting>
            <setting name="PUBLISHING_CONTACTPOINT" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </Midax.Properties.Settings>
    </applicationSettings>
</configuration>