# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.dll
*.pdb
*.suo
*.suo
*.dll
*.cache
Midax/db/logs/*.*
WebUI/bin/*.*
MidaxTester/bin/Debug/*.*
MidaxTester/obj/Debug/*.*
Midax/bin/Debug/*.*
Midax/obj/Debug/*.*
MidaxLib/bin/Debug/*.*
MidaxLib/obj/Debug/*.*
BPModel/bin/Debug/*.*
BPModel/obj/Debug/*.*
IGApi/IGPublicPcl/bin/Debug/*.*
IGApi/IGPublicPcl/obj/Debug/*.*
ClientConsole/bin/Debug/*.*
ClientConsole/obj/Debug/*.*
EventLogSourceInstaller/bin/Debug/*.*
EventLogSourceInstaller/obj/Debug/*.*
MidaxTester/bin/Release/*.*
MidaxTester/obj/Release/*.*
Midax/bin/Release/*.*
Midax/obj/Release/*.*
MidaxLib/bin/Release/*.*
MidaxLib/obj/Release/*.*
BPModel/bin/Release/*.*
BPModel/obj/Release/*.*
IGApi/IGPublicPcl/bin/Release/*.*
IGApi/IGPublicPcl/obj/Release/*.*
ClientConsole/bin/Release/*.*
ClientConsole/obj/Release/*.*
EventLogSourceInstaller/bin/Release/*.*
EventLogSourceInstaller/obj/Release/*.*
WebDebug/*.*