# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.dll
*.pdb
*.suo
*.suo
*.dll
IGApi/IGPublicPcl/bin/Debug/IgPublicPcl.dll
*.dll
Midax/bin/Debug/Glacier2.xml
Midax/bin/Debug/Ice.xml
Midax/bin/Debug/IceBox.xml
Midax/bin/Debug/IceGrid.xml
Midax/bin/Debug/IceSSL.xml
Midax/bin/Debug/IceStorm.xml
*.exe
Midax/bin/Debug/Midax.exe.config
Midax/bin/Debug/Newtonsoft.Json.xml
Midax/bin/Debug/PCLCrypto.xml
Midax/bin/Debug/Validation.xml
Midax/obj/Debug/Midax.csprojResolveAssemblyReference.cache
BPModel/bin/Debug/Newtonsoft.Json.xml
BPModel/bin/Debug/PCLCrypto.xml
BPModel/bin/Debug/Validation.xml
IGApi/IGPublicPcl/bin/Debug/IgPublicPcl.dll.config
IGApi/IGPublicPcl/bin/Debug/Newtonsoft.Json.xml
IGApi/IGPublicPcl/bin/Debug/PCLCrypto.xml
IGApi/IGPublicPcl/bin/Debug/System.Net.Http.Extensions.xml
IGApi/IGPublicPcl/bin/Debug/System.Net.Http.Primitives.xml
IGApi/IGPublicPcl/bin/Debug/Validation.xml
IGApi/IGPublicPcl/obj/Debug/IGPublicPcl.csproj.FileListAbsolute.txt
IGApi/IGPublicPcl/obj/Debug/IGPublicPcl.csproj.FileListAbsolute.txt
